html, body{
padding: 0px;
margin: 0px;

/* set margin and padding to stretch to browser window */

}

body
{
    
    font-family: 'Krub', sans-serif;
/* outline: 1px solid black */
}


.header-text {
    padding: 0;
    margin: 0; 
}


.logo-text
{
    color: rgba(0, 100, 100, 0.9);
    font-size: 18px;
    display: inline-block;
    padding-left: 10px;
    
    
}

.nav-container 
{
    display: inline-block;
    
}

.nav-link
{
    color:  rgba(0, 100, 100, 0.5);
    text-decoration: none;
    margin-left: 15px
    
}

.hero-image
{
    /* becasue image is in diffrent folder you must use .. before / */
    background-image: url(../images/daylight-environment-forest-459225.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
    min-height: 700px;
    min-width: 100%;
    
    color: ghostwhite;
    opacity: 1
    
}
/* flex box */
.center-center{
    display: flex;
    justify-content: center;
    align-items: center
    
}

.about-me{
    padding:0 20px;
    text-align: center
    /* outline: 5px solid red; */
}
.about-me-header{
    
    /* outline: 5px solid red; */
}

.about-me-text {
    display: inline-block;
    /* outline: 5px solid red; */
    max-width: 60%;
    
}



.profile-image{
    /* width: 200px; */;
    max-width: 30%;
    display: inline-block;
    /* outline: 5px solid red; */
    
}
.profile-image img{
    width: 100%;
    margin-top: 50px;
    
}   

.underwater-image{
    background-image: url(../images/blue-blur-color-932638.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
    min-height: 200px;
    min-width: 100%;
    
    color: ghostwhite;
    opacity: .5
    
}
/* 
Response web design implementations

media queries

500px
768px
1024px
1200px
1400px


*/

@media screen and (min-width: 500px){
    .profile-image{
        /* outline: 5px solid red */

    }




}