/* h1  */
/* #logo-text */

.header-text {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.logo-text
{
    color: rgba(0, 100, 100, 0.9);
    font-size: 18px;

}
.nav-link
{
    color:  rgba(0, 100, 100, 0.5);
    text-decoration: none;

}