/* h1  */
/* #logo-text */

html, body{
padding: 0px;
margin: 0px;

/* set margin and padding to stretch to browser window */

}

body
 {

/* outline: 1px solid black */
}


.header-text {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 0;
margin: 0; 
}


.logo-text
{
    color: rgba(0, 100, 100, 0.9);
    font-size: 18px;
    display: inline-block;
    /* outline: 1px solid red; */
    /* margin-right: 20px; */
    /* padding-right: 10px; */
    /* background-color: aqua */

}

.nav-container 
{
display: inline-block;
/* outline: 1px solid blue */
}

.nav-link
{
    color:  rgba(0, 100, 100, 0.5);
    text-decoration: none;
    margin-right: 8px

}

.hero-image
{
    /* becasue image is in diffrent folder you must use .. before / */
    background-image: url(../images/daylight-environment-forest-459225.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 600px;
    min-width: 100%;

}